function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto SquareGame2
push this 0
call Square.moveUp 1
pop temp 0
goto SquareGame3
label SquareGame2
label SquareGame3
push this 1
push constant 2
eq
not
if-goto SquareGame4
push this 0
call Square.moveDown 1
pop temp 0
goto SquareGame5
label SquareGame4
label SquareGame5
push this 1
push constant 3
eq
not
if-goto SquareGame6
push this 0
call Square.moveLeft 1
pop temp 0
goto SquareGame7
label SquareGame6
label SquareGame7
push this 1
push constant 4
eq
not
if-goto SquareGame8
push this 0
call Square.moveRight 1
pop temp 0
goto SquareGame9
label SquareGame8
label SquareGame9
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label SquareGame10
push local 1
not
not
if-goto SquareGame11
label SquareGame12
push local 0
push constant 0
eq
not
if-goto SquareGame13
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame12
label SquareGame13
push local 0
push constant 81
eq
not
if-goto SquareGame14
push constant 0
not
pop local 1
goto SquareGame15
label SquareGame14
label SquareGame15
push local 0
push constant 90
eq
not
if-goto SquareGame16
push this 0
call Square.decSize 1
pop temp 0
goto SquareGame17
label SquareGame16
label SquareGame17
push local 0
push constant 88
eq
not
if-goto SquareGame18
push this 0
call Square.incSize 1
pop temp 0
goto SquareGame19
label SquareGame18
label SquareGame19
push local 0
push constant 131
eq
not
if-goto SquareGame20
push constant 1
pop this 1
goto SquareGame21
label SquareGame20
label SquareGame21
push local 0
push constant 133
eq
not
if-goto SquareGame22
push constant 2
pop this 1
goto SquareGame23
label SquareGame22
label SquareGame23
push local 0
push constant 130
eq
not
if-goto SquareGame24
push constant 3
pop this 1
goto SquareGame25
label SquareGame24
label SquareGame25
push local 0
push constant 132
eq
not
if-goto SquareGame26
push constant 4
pop this 1
goto SquareGame27
label SquareGame26
label SquareGame27
label SquareGame28
push local 0
push constant 0
eq
not
not
if-goto SquareGame29
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame28
label SquareGame29
goto SquareGame10
label SquareGame11
push constant 0
return
